@model TheCoopAntiquesV2.Models.Dealer
@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-primary">Maintain Dealer</h2>

<form method="post" asp-action="Edit">
    <div class="row">
        <div class="col-9">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="FirstName"></label>
                </div>
                <div class="col-6">
                    <label asp-for="LastName"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="col-6">
                    <input asp-for="LastName" class="form-control" />
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label asp-for="Address1"></label>
                </div>
                <div class="col-12">
                    <input asp-for="Address1" class="form-control" />
                </div>
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-12">
                    <label asp-for="Address2"></label>
                </div>
                <div class="col-12">
                    <input asp-for="Address2" class="form-control" />
                </div>
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="City"></label>
                </div>
                <div class="col-2">
                    <label asp-for="State"></label>
                </div>
                <div class="col-4">
                    <label asp-for="Zip"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="col-2">
                    <input asp-for="State" class="form-control" />
                </div>
                <div class="col-4">
                    <input asp-for="Zip" class="form-control" />
                </div>
                <span asp-validation-for="State" class="text-danger"></span>
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label asp-for="PhoneNumber"></label>
                </div>
                <div class="col-6">
                    <label asp-for="Email"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group col-2.5">
            <input type="submit" class="btn btn-success btn-block" asp-route-id="@Model.Id" value="Update Dealer" />
            <a asp-action="Index" class="btn btn-primary btn-block">Back to View Dealers</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
