@model IEnumerable<TheCoopAntiquesV2.Models.TransactionType>
@{
    ViewData["Title"] = "Index";
}

<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Transaction Types</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-success">New Transaction Type</a>
    </div>
</div>

<br />

