<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheCoopAntiquesV2</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/custom.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" asp-area="Default" asp-controller="Home" asp-action="Index">The Coop Antiques</a>
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Dealers
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Dealer" asp-action="Index">View Dealers</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="Dealer" asp-action="Create">New Dealer</a>
                        <a class="dropdown-item" href="#">Maintain Dealer</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Dealer Fees</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Adjustments
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Adjustments</a>
                        <a class="dropdown-item" href="#">New Adjustment</a>
                        <a class="dropdown-item" href="#">Maintain Adjustment</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Processing
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Weekly</a>
                        <a class="dropdown-item" href="#">Monthly</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Period Manager</a>
                        <a class="dropdown-item" href="#">Post Checks</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Configuration
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Dealer Status Types</a>
                        <a class="dropdown-item" href="#">Dealer Fee Types</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="TransactionType" asp-action="Index">Transaction Types</a>
                        <a class="dropdown-item" asp-area="Admin" asp-controller="TaxRate" asp-action="Index">Tax Rates</a>
                        <a class="dropdown-item" href="#">Credit Fees</a>
                        <a class="dropdown-item" href="#">Commission Rates</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Users
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Users</a>
                        <a class="dropdown-item" href="#">New User</a>
                        <a class="dropdown-item" href="#">Maintain User</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Security Roles</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Orders
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Search Orders</a>
                        <a class="dropdown-item" href="#">New Order</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Edit Current</a>
                        <a class="dropdown-item" href="#">Edit Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Void Current</a>
                        <a class="dropdown-item" href="#">Void Post</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">LayAway Manager</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        My Sales
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">This Month</a>
                        <a class="dropdown-item" href="#">Previous Month</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">My Balance</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown">
                        Newsletter
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">View Newsletter</a>
                        <a class="dropdown-item" href="#">Add Newsletter</a>
                        <a class="dropdown-item" href="#">Edit Newsletter</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            <partial name="_LoginPartial" />
        </div>


    </nav>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @if (ViewData["Title"].ToString() == "Home Page")
    {
        <footer class="border-top footer" style="font-weight:bold; color:black;">
            <div class="container text-right">
                &copy; 2019 - The Coop Antiques - <a asp-area="" asp-controller="Home" asp-action="Privacy"><b>Privacy</b></a>
            </div>
        </footer>
    }
    else
    {
        <footer class="border-top footer text-muted">
            <div class="container text-right">
                &copy; 2019 - The Coop Antiques - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
